.body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(233, 233, 233);
}
.img-logo {
    width: 28%;
}
/*cabeçalho*/
header{
    background: #242424;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    background: #131313;
    color: #ffffff;
    padding: 15px;
}
.logo{
    position: relative;
    width: 940px;
    margin: 0px auto;
}

@keyframes rotate {
    from{
        transform: rotate(10deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.img-logo:hover .logo01{
    animation: rotate 1s;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
ul li{
    display: inline;
    width: 30%;
    margin-right: 20px;
    vertical-align: top;
}
nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 5px 12px;
    background-color: #131313;
    border-radius: 10px;
    transition: 0.3s;
}
nav a:hover{
    color: #131313;
    background-color: #fff;
    transition: 0.3s;
}
/*menu*/
main{
    width: 940px;
    margin: 0 auto;
}
form{
   margin: 40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
    text-transform: uppercase;

}
.input-padrao{
    display: block;
    margin: 20px 0 20px;
    padding: 10px 25px;
    width: 50%; 
}
#input{
    margin-right: 10px;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orangered;
    color: #ffffff;
    font-weight:bold ;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
    border-radius: 4px;
}

/*rodape*/
footer{
    padding: 40px 0;
    background: #000000;
    text-align: center;
}
.rodape {
    color: #ffffff;
    font-size: 13px;
    margin: 15px 0 0;
}
form div label input {
    margin-right: 10px;
}
.input{
    width: 25%;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 202, 202);
    color: #000000;
    padding-left: 10px;
}
#mensagem {
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 202, 202);
    color: #000000;
    padding: 5px;
    padding-right: 10px;
    max-height: 80px;
    max-width: 30%;
    min-height: 80px;
    min-width: 30%;
}
label, p {
    letter-spacing: 1px;
    font-weight: 300;
}
.contato{
    display: inline-block;
}
